/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =================== */
/* NAVIGATION STYLE */
.header-container nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 2% 20%;
  font-family: 'Open Sans Condensed', sans-serif;
}
@media (max-width: 500px) {
  .header-container nav {
    display: none;
    width: 78%;
    overflow: hidden;
    opacity: 0.8;
    margin: 5% 0 0 10%;
  }
}
@media (max-width: 800px) {
  .header-container nav {
    display: none;
  }
}
.header-container nav a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
@media (max-width: 500px) {
  .header-container nav a {
    text-decoration: none;
  }
}
.header-container nav a:hover {
  color: white;
}
.dropdown {
  display: none;
}
/* =================== */
/* NAVIGATION STYLE */
@media (max-width: 500px) {
  .footer-container {
    display: none;
    margin-bottom: 5%;
  }
}
.footer-container nav {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  margin: 2% 20%;
}
.footer-container nav a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.footer-container nav a:hover {
  color: white;
}
@media (max-width: 800px) {
  .footer-container {
    display: none;
  }
}
.copyright {
  display: none;
}
@media (max-width: 500px) {
  .copyright {
    color: #22283B;
    background: #f4f4f4;
    padding: 20px 0;
    border: 1px double #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .copyright {
    color: #22283B;
    background: #f4f4f4;
    padding: 20px 0;
    border: 1px double #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.meet-the-team {
  width: 80%;
  display: flex;
  justify-content: center;
  background: rgba(84, 150, 211, 0.89);
  margin: 2% 0 0 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.meet-the-team h1 {
  width: 616px;
  height: 109px;
  font-size: 2rem;
  text-align: center;
  padding-top: 2.7%;
  background: #AEC8E7;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.meet-the-team nav,
.meet-the-team a {
  font-size: 1.5rem;
  margin-left: -600%;
  margin-right: 780%;
  margin-top: 80%;
  color: black;
  text-decoration: none;
}
.meet-the-team a:hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid white;
  transform: scale(1.1);
  border-radius: 7px;
}
.top-team {
  width: 78.87%;
  display: grid;
  margin: 0 0 0 10%;
  grid: 15.3rem / auto auto auto;
  grid-gap: 10px;
  background: rgba(84, 150, 211, 0.89);
  padding: 10px;
}
@media (max-width: 500px) {
  .top-team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
  }
}
.top-team div,
.top-team h2,
.top-team p {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #AEC8E7;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.top-team h2,
.top-team p {
  background-color: #d8d8d8;
}
.top-team h2:hover,
.top-team p:hover {
  background-color: #008CBA;
  color: white;
}
.top-team div {
  border: 1px solid black;
  border-radius: 7px;
}
.top-team .ds {
  border: 1px solid black;
}
.top-team .ds div,
.top-team .ds h2,
.top-team .ds p {
  background-color: #cccecb;
}
.top-team .ds h2,
.top-team .ds p {
  margin-top: 3%;
}
.top-team .ds h2:hover,
.top-team .ds p:hover {
  background-color: #008CBA;
  color: white;
}
.solo {
  width: 78.87%;
  display: grid;
  margin-left: 10%;
  grid: 15.3rem;
  grid-gap: 10px;
  background: rgba(84, 150, 211, 0.89);
  padding: 10px;
}
.solo div,
.solo h2,
.solo p {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #AEC8E7;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.solo h2,
.solo p {
  margin-top: 5%;
  background-color: #d8d8d8;
}
.solo h2:hover,
.solo p:hover {
  background-color: #008CBA;
  color: white;
}
.solo .griffin {
  border: 1px solid black;
  margin-left: 34.5%;
  margin-bottom: 1%;
  width: 29.5%;
  height: 240px;
  border-radius: 7px;
}
.solo .left-img {
  width: 25%;
  margin: 2% 0 -30% 5%;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.solo .right-img {
  width: 84%;
  margin: -47% -220% 27% -5%;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.solo .right-img:hover,
.solo .left-img:hover {
  opacity: 0.5;
}
body {
  background: #ece6e6;
}
@media (max-width: 500px) {
  .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }
}
@media (max-width: 800px) {
  .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }
}
@media (max-width: 500px) {
  .dropdown .dropbtn {
    background-color: #4c80e0;
    color: white;
    padding: 3% 10% 3% 10%;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
  }
}
@media (max-width: 800px) {
  .dropdown .dropbtn {
    background-color: #4c80e0;
    color: white;
    padding: 3% 10% 3% 10%;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2%;
  }
}
@media (max-width: 500px) {
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 11.9%;
    background-color: #4C80E0;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10%;
    background-color: #4C80E0;
    min-width: 176px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
@media (max-width: 800px) {
  .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
@media (max-width: 500px) {
  .dropdown .dropdown-content a:hover {
    background-color: #ddd;
  }
}
@media (max-width: 800px) {
  .dropdown .dropdown-content a:hover {
    background-color: #ddd;
  }
}
@media (max-width: 500px) {
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .dropdown:hover .dropbtn {
    background-color: #4c80e0;
  }
}
@media (max-width: 800px) {
  .dropdown:hover .dropbtn {
    background-color: #4c80e0;
  }
}
/* =================== */
/* Scrolling Marquee */
.Marquee h3 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.7rem;
  color: blue;
  margin: 0 0 1% 0;
  outline: 1px solid black;
}
@media (max-width: 500px) {
  .Marquee h3 {
    margin: 2.3% 0;
    font-size: 1.5rem;
  }
}
/* ============ */
/* header-content */
.header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
@media (max-width: 500px) {
  .header-content {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
  }
}
@media (max-width: 800px) {
  .header-content {
    width: 99%;
  }
}
.header-content h1 {
  align-self: center;
  margin-bottom: 1%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .header-content h1 {
    align-self: center;
    width: 60%;
    padding: 0 0 0 4%;
  }
}
.header-content p {
  align-self: center;
  flex-wrap: wrap;
  width: 40%;
  margin-bottom: 1%;
  font-size: 1.4rem;
  color: black;
}
@media (max-width: 500px) {
  .header-content p {
    align-self: center;
    width: 60%;
    margin: 2% 0 3% 4%;
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .header-content p {
    width: 96%;
  }
}
.header-content img {
  width: 25%;
  margin: 0 0 2% 37%;
}
@media (max-width: 500px) {
  .header-content img {
    align-self: center;
    width: 61%;
    margin: 0 0 3% 22%;
  }
}
@media (max-width: 800px) {
  .header-content img {
    width: 50%;
    margin: 1.5% 0 1.5% 25%;
  }
}
/* =============== */
/* about-section */
.about-risk {
  border-top: 1.2px dashed grey;
  border-bottom: 1.2px dashed grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
@media (max-width: 500px) {
  .about-risk {
    width: 98%;
  }
}
@media (max-width: 800px) {
  .about-risk {
    width: 99%;
  }
}
.about-risk h3 {
  align-self: center;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .about-risk h3 {
    width: 75%;
    font-size: 1.7rem;
    margin-left: 2%;
  }
}
@media (max-width: 800px) {
}
.about-risk p {
  align-self: center;
  margin-bottom: 1%;
  flex-wrap: wrap;
  width: 40%;
  font-size: 1.4rem;
  color: black;
}
@media (max-width: 500px) {
  .about-risk p {
    width: 90%;
    margin-top: 1.5%;
  }
}
@media (max-width: 800px) {
  .about-risk p {
    width: 96%;
  }
}
.about-risk img {
  width: 25%;
  margin: 0 0 2% 37%;
}
@media (max-width: 500px) {
  .about-risk img {
    width: 61%;
    margin: 2.3% 1% 2% 21%;
  }
}
@media (max-width: 800px) {
  .about-risk img {
    width: 50%;
    margin: 1.5% 0 1.5% 25%;
  }
}
.body {
  background-color: rgba(59, 59, 59, 0.842);
  width: 80%;
  margin-left: 10%;
  background-image: url(https://images.unsplash.com/photo-1534469650761-fce6cc26ac0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
  background-size: 100% 100%;
  height: 100vh;
}
.nav-container {
  width: 80%;
  margin: 0 0 0 10%;
  background-color: rgba(59, 59, 59, 0.842);
  font-family: 'Nunito', sans-serif;
}
.nav-container img {
  width: 45%;
  align-self: flex-start;
  margin: 1% 1% 0.5% 1%;
  border-radius: 7px;
  box-shadow: 5px 3px #f8f7f769;
}
.nav-container img:hover {
  transition: all 0.2s;
  padding: 5px;
}
.nav-container nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 1%;
}
.nav-container a {
  align-self: center;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 5px 3px #f8f7f769;
}
.nav-container a:hover {
  transition: all 0.2s;
  padding: 15px;
}
.intro {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  width: 80%;
  margin: 5% 0 0 10%;
}
.intro h1,
.intro p {
  font-size: 1.5rem;
  font-family: "sofia-pro", sans-serif;
  margin-left: 1%;
  color: whitesmoke;
}
.intro p {
  font-size: 1.3rem;
  margin: 1% 0 0 1%;
}
.data-science-team {
  border: 1px solid white;
  width: 78.98%;
  margin: 4% 0 0 10%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(59, 59, 59, 0.842);
  padding: 10px;
  border-radius: 7px;
}
.data-science-team div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  border-radius: 7px;
  box-shadow: 5px 3px #f8f7f769;
  opacity: 0.5;
}
.data-science-team div:hover {
  transition: all 0.2s;
  padding: 5px;
  opacity: 1;
}
.data-science-team p {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
.front-end-team1 {
  border: 1px solid white;
  width: 78.98%;
  margin: 1% 0 0 10%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(59, 59, 59, 0.842);
  padding: 10px;
  border-radius: 7px;
}
.front-end-team1 div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  border-radius: 7px;
  box-shadow: 5px 3px #f8f7f769;
  opacity: 0.5;
}
.front-end-team1 div:hover {
  transition: all 0.2s;
  padding: 5px;
  opacity: 1;
}
.front-end-team1 p {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
.front-end-team2 {
  border: 1px solid white;
  width: 78.98%;
  margin: 1% 0 0 10%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(59, 59, 59, 0.842);
  padding: 10px;
  border-radius: 7px;
}
.front-end-team2 div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  border-radius: 7px;
  box-shadow: 5px 3px #f8f7f769;
  opacity: 0.5;
}
.front-end-team2 div:hover {
  transition: all 0.2s;
  padding: 5px;
  opacity: 1;
}
.front-end-team2 p {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
