/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =================== */
/* NAVIGATION STYLE */
.header-container nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 2% 20%;
  font-family: 'Open Sans Condensed', sans-serif;
}
@media (max-width: 500px) {
  .header-container nav {
    display: none;
    width: 78%;
    overflow: hidden;
    opacity: 0.8;
    margin: 5% 0 0 10%;
  }
}
@media (max-width: 1000px) {
  .header-container nav {
    display: none;
  }
}
.header-container nav a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  box-shadow: 5px 2px 5px 2px #888888;
  color: white;
}
@media (max-width: 500px) {
  .header-container nav a {
    text-decoration: none;
  }
}
.header-container nav a:hover {
  transition: ease-in-out 0.39s;
  padding: 3px;
}
.dropdown {
  display: none;
}
/* =================== */
/* NAVIGATION STYLE */
.footer-container {
  display: none;
}
@media (max-width: 500px) {
  .footer-container {
    display: none;
    margin-bottom: 5%;
  }
}
.footer-container nav {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  margin: 2% 20%;
}
.footer-container nav a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.footer-container nav a:hover {
  color: white;
}
@media (max-width: 1000px) {
  .footer-container {
    display: none;
  }
}
.copyright {
  display: none;
}
@media (max-width: 500px) {
  .copyright {
    color: #22283B;
    background: #f4f4f4;
    padding: 20px 0;
    border: 1px double #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .copyright {
    margin-top: 27rem;
    color: #22283B;
    background: #3b3b3b;
    padding: 20px 0;
    border: 1px double #e0e0e0;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.body-index {
  background-color: rgba(59, 59, 59, 0.842);
  width: 80%;
  margin-left: 10%;
  background-size: 100% 100%;
  height: 100vh;
}
@media (max-width: 1000px) {
  .body-index {
    height: 50vh;
  }
}
.body-index::after {
  content: "";
  background-image: url("https://g.foolcdn.com/editorial/images/532698/getty-stock-market-success.jpg");
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media (max-width: 500px) {
  .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }
}
@media (max-width: 1000px) {
  .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }
}
@media (max-width: 500px) {
  .dropdown .dropbtn {
    background-color: rgba(59, 59, 59, 0.808);
    color: white;
    padding: 3% 10% 3% 10%;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
  }
}
@media (max-width: 1000px) {
  .dropdown .dropbtn {
    background-color: rgba(59, 59, 59, 0.842);
    color: white;
    padding: 3% 10% 3% 10%;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2%;
  }
}
@media (max-width: 500px) {
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 11.9%;
    background-color: rgba(59, 59, 59, 0.842);
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 13.5%;
    background-color: rgba(59, 59, 59, 0.842);
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
@media (max-width: 1000px) {
  .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
@media (max-width: 500px) {
  .dropdown .dropdown-content a:hover {
    background-color: #ddd;
  }
}
@media (max-width: 1000px) {
  .dropdown .dropdown-content a:hover {
    background-color: #ddd;
  }
}
@media (max-width: 500px) {
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .dropdown:hover .dropbtn {
    background-color: rgba(59, 59, 59, 0.842);
  }
}
@media (max-width: 1000px) {
  .dropdown:hover .dropbtn {
    background-color: rgba(59, 59, 59, 0.842);
  }
}
/* =================== */
/* Scrolling Marquee */
.Marquee h3 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.7rem;
  color: white;
  margin: 0 0 1% 0;
}
@media (max-width: 500px) {
  .Marquee h3 {
    margin: 2.3% 0;
    font-size: 1.5rem;
  }
}
/* ============ */
/* header-content */
.header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
@media (max-width: 500px) {
  .header-content {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
  }
}
@media (max-width: 1000px) {
  .header-content {
    width: 99%;
  }
}
.header-content h1 {
  align-self: center;
  margin-bottom: 1%;
  font-size: 2rem;
  color: white;
}
@media (max-width: 500px) {
  .header-content h1 {
    align-self: center;
    width: 60%;
    padding: 0 0 0 4%;
  }
}
.header-content p {
  align-self: center;
  flex-wrap: wrap;
  width: 40%;
  margin-bottom: 1%;
  font-size: 1.4rem;
  color: white;
}
@media (max-width: 500px) {
  .header-content p {
    align-self: center;
    width: 60%;
    margin: 2% 0 3% 4%;
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {
  .header-content p {
    width: 96%;
  }
}
.header-content img {
  width: 25%;
  margin: 0 0 2% 37%;
}
@media (max-width: 500px) {
  .header-content img {
    align-self: center;
    width: 61%;
    margin: 0 0 3% 22%;
  }
}
@media (max-width: 1000px) {
  .header-content img {
    width: 50%;
    margin: 1.5% 0 1.5% 25%;
  }
}
/* =============== */
/* about-section */
.about-risk {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
@media (max-width: 500px) {
  .about-risk {
    width: 98%;
  }
}
@media (max-width: 1000px) {
  .about-risk {
    width: 99%;
  }
}
.about-risk h3 {
  align-self: center;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .about-risk h3 {
    width: 75%;
    font-size: 1.7rem;
    margin-left: 2%;
  }
}
@media (max-width: 1000px) {
}
.about-risk p {
  align-self: center;
  margin-bottom: 1%;
  flex-wrap: wrap;
  width: 40%;
  font-size: 1.4rem;
  color: black;
}
@media (max-width: 500px) {
  .about-risk p {
    width: 90%;
    margin-top: 1.5%;
  }
}
@media (max-width: 1000px) {
  .about-risk p {
    width: 96%;
  }
}
.about-risk img {
  width: 25%;
  margin: 0 0 2% 37%;
}
@media (max-width: 500px) {
  .about-risk img {
    width: 61%;
    margin: 2.3% 1% 2% 21%;
  }
}
@media (max-width: 1000px) {
  .about-risk img {
    width: 50%;
    margin: 1.5% 0 1.5% 25%;
  }
}
.body {
  background-color: rgba(59, 59, 59, 0.842);
  width: 80%;
  margin-left: 10%;
  background-image: url("https://images.unsplash.com/photo-1534469650761-fce6cc26ac0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  background-size: 100% 100%;
  height: 100vh;
}
@media (max-width: 500px) {
  .body {
    background-image: none;
    background-color: rgba(59, 59, 59, 0.842);
    height: 140vh;
  }
}
.nav-container {
  width: 80%;
  margin: 0 0 0 10%;
  background-color: rgba(59, 59, 59, 0.842);
  font-family: 'Nunito', sans-serif;
}
@media (max-width: 500px) {
  .nav-container {
    width: 80%;
  }
}
.nav-container img {
  width: 45%;
  align-self: flex-start;
  margin: 1% 1% 0.5% 1%;
  border-radius: 7px;
  box-shadow: 5px 3px #f8f7f769;
  align-self: center;
}
@media (max-width: 500px) {
  .nav-container img {
    width: 55%;
    margin-left: 24%;
  }
}
@media (max-width: 1000px) {
  .nav-container img {
    display: none;
  }
}
.nav-container img:hover {
  transition: all 0.2s;
  padding: 5px;
}
.nav-container nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 1%;
  padding: 1%;
}
@media (max-width: 500px) {
  .nav-container nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.nav-container a {
  align-self: center;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 0 1%;
  box-shadow: 5px 3px #f8f7f769;
}
.nav-container a:hover {
  transition: all 0.2s;
  padding: 15px;
}
.intro {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  width: 41.5%;
  margin: 3% 0 0 10%;
  background-color: rgba(59, 59, 59, 0.842);
  padding: 1rem;
}
@media (max-width: 500px) {
  .intro {
    width: 71.5%;
  }
}
.intro h1,
.intro p {
  font-size: 1.5rem;
  font-family: "sofia-pro", sans-serif;
  margin-left: 1%;
  color: whitesmoke;
}
.intro p {
  font-size: 1.3rem;
  margin: 1% 0 0 1%;
}
@media (max-width: 500px) {
  .intro p {
    font-size: 1.2rem;
  }
}
.data-science-team {
  border: 1px solid white;
  width: 78.98%;
  margin: 2% 0 0 10%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(59, 59, 59, 0.842);
  padding: 10px;
  border-radius: 7px;
}
@media (max-width: 500px) {
  .data-science-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 73.5%;
  }
}
.data-science-team div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  border-radius: 7px;
  box-shadow: 5px 3px #f8f7f769;
  opacity: 0.5;
}
.data-science-team div:hover {
  transition: all 0.2s;
  opacity: 1;
}
.data-science-team p {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
.front-end-team1 {
  border: 1px solid white;
  width: 78.98%;
  margin: 1% 0 0 10%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(59, 59, 59, 0.842);
  padding: 10px;
  border-radius: 7px;
}
@media (max-width: 500px) {
  .front-end-team1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 73.5%;
  }
}
.front-end-team1 div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  border-radius: 7px;
  box-shadow: 5px 3px #f8f7f769;
  opacity: 0.5;
}
.front-end-team1 div:hover {
  transition: all 0.2s;
  opacity: 1;
}
.front-end-team1 p {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
.front-end-team2 {
  border: 1px solid white;
  width: 78.98%;
  margin: 1% 0 0 10%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(59, 59, 59, 0.842);
  padding: 10px;
  border-radius: 7px;
}
@media (max-width: 500px) {
  .front-end-team2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 73.5%;
  }
}
.front-end-team2 div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  border-radius: 7px;
  box-shadow: 5px 3px #f8f7f769;
  opacity: 0.5;
}
.front-end-team2 div:hover {
  transition: all 0.2s;
  opacity: 1;
}
.front-end-team2 p {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
