/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =================== */
/* NAVIGATION STYLE */
nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 2% 20%;
}
nav a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
nav a:hover {
  color: white;
}
/* =================== */
/* NAVIGATION STYLE */
.footer-container nav {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  margin: 2% 20%;
}
.footer-container nav a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.footer-container nav a:hover {
  color: white;
}
body {
  background: #ece6e6;
}
/* =================== */
/* Scrolling Marquee */
.Marquee h3 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.7rem;
  color: blue;
  margin: 0 0 1% 0;
  outline: 1px solid black;
}
/* ============ */
/* header-content */
.header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.header-content h1 {
  align-self: center;
  margin-bottom: 1%;
  font-size: 2rem;
}
.header-content p {
  align-self: center;
  flex-wrap: wrap;
  width: 40%;
  margin-bottom: 1%;
  font-size: 1.4rem;
  color: black;
}
.header-content img {
  width: 25%;
  margin: 0 0 2% 37%;
}
/* =============== */
/* about-section */
.about-risk {
  border-top: 1.2px dashed grey;
  border-bottom: 1.2px dashed grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.about-risk h3 {
  align-self: center;
  margin-bottom: 1%;
  font-size: 2rem;
}
.about-risk p {
  align-self: center;
  flex-wrap: wrap;
  width: 40%;
  font-size: 1.4rem;
  color: black;
}
.about-risk img {
  width: 25%;
  margin: 0 0 2% 37%;
}
