body{
    background: rgb(236, 230, 230);
  }
  /* =================== */
  /* Scrolling Marquee */
  .Marquee h3{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.7rem;
    color: blue;
    margin: 0 0 1% 0;
    outline: 1px solid black;
  }

  /* ============ */
  /* header-content */
  .header-content{
    // border: 1px solid red; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: space-between;

    h1{
        // border: 1px solid red;
        align-self: center;
        margin-bottom: 1%;
        font-size: 2rem;
    }
    p {
        // border: 1px solid red; 
        align-self: center;
        flex-wrap: wrap;
        width: 40%;
        margin-bottom: 1%;
        font-size: 1.4rem;
        color: black;
    }
    img {
        // border: 1px solid red;
        width: 25%;
        margin: 0 0 2% 37%;
    }
  }
  /* =============== */
  /* about-section */
  .about-risk {
    //   border: 2px solid red;
     border-top: 1.2px dashed grey;
     border-bottom: 1.2px dashed grey;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-content: space-between; 
     
      h3 {
//border: 1px solid red;
   align-self: center;
   margin-bottom: 1%;
   font-size: 2rem;
  }
   p {
    // border: 1px solid red;
    align-self: center;
    flex-wrap: wrap;
    width: 40%;
    font-size: 1.4rem;
    color: black;
  }
  img{
      width: 25%;
      margin: 0 0 2% 37%;
  }
}
     


  